// 主色
$primaryColor: #49a9ee;

// 辅助色
$defaultColor: #f7f7f7;
$successColor: #00cc66;
$warningColor: #ff9900;
$dangerColor: #f04134;
$borderColor: #d9d9d9;

// 中性色
$grayDark: #333;
$gray: #666;
$grayLight: #999;

// 圆角尺寸
$borderRadius: 3px;

// 顶部栏高度
$navbarHeight: 50px;

// 视口宽高
$viewportWidth: 320px;
$viewportHeight: 504px;